<!-- blog/partials/_posts.html -->

<section id="posts" class="posts-grid">

  {% for post in page_obj %}
  <article class="post-card">
    {% if site_setup.show_post_miniature_image %}
      {% if post.cover %}
      	<div class="post-image">
	  <a href="{{ post.get_absolute_url }}"><img src="{{ post.cover.url }}" alt="Image for the {{ post.title }}"></a>
    	</div>
      {% endif %}
    {% endif %}

    <div class="post-content">
      <a href="{{ post.get_absolute_url }}"><h2 class="post-title">{{ post.title }}</h2></a>
      <p class="post-excerpt">
        {{ post.excerpt }}
      </p>
      <a class="post-link" href="{{ post.get_absolute_url }}">Read -></a>
    </div>
  </article>
  {% empty %}
    <h2>No posts yet.</h2>
  {% endfor %}

</section>
