<!-- blog/partials/_posts.html -->

<section id="posts" class="posts-grid">

  {% for post in page_obj %}
  <article class="post-card">
    {% if site_setup.show_post_miniature_image %}
      {% if post.cover %}
      	<div class="post-image">
	<img src="{{ post.cover.url }}" alt="Image for the {{ post.title }}">
      {% endif %}
    {% endif %}
    </div>

    <div class="post-content">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-excerpt">
        {{ post.excerpt }}
      </p>
      <a class="post-link" href="{% url 'blog:post' slug=post.slug %}">Read -></a>
    </div>
  </article>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}

</section>
