{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'blog/partials/_head.html' %}
  {% block css %}{% endblock %}
</head>
<body>
  {{ site_setup.title }} <!-- Remove later: Site title from context variable -->

  <!-- Header Section -->
  {% include 'blog/partials/_header.html' %}

  <main class="container content">
    {% block content %}
    <!-- Content of the page -->
    {% endblock %}
  </main>

  <!-- Pagination Section ~ Not use pagination in base, its here for tests -->
  {% include 'blog/partials/_pagination.html' %}

  <!-- Footer Section -->
  {% include 'blog/partials/_footer.html' %}

  {% block js %}{% endblock %}

</body>
</html>
