{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home - {{ site_setup.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/pages/index.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/partials/_post-card.css' %}">
{% endblock %}

{% block content %}

  <!-- Hero Section -->
  <section class="hero">
	  <h1 class="hero-title">Welcome to <span>{{ site_setup.title }}</span></h1>
    {% if site_setup.show_description %}
      <p class="hero-subtitle">
        {{ site_setup.description }}
      </p>
      <a href="#posts" class="hero-cta">Check out the latest posts</a>
    {% endif %}
  </section>

  {% if site_setup.show_about %}
    <!-- About Section -->
    <section class="about">
      <h2>About This Blog</h2>
      <p>
	{{ site_setup.about }}
      </p><hr>
    </section>
  {% endif %}

  {% if site_setup.show_post_list %}
    <!-- Posts Section -->
    {% include 'blog/partials/_post-list.html' %}
  {% endif %}

  {% if site_setup.show_pagination %}
    <!-- Pagination -->
    {% include 'blog/partials/_pagination.html' %}
  {% endif %}

{% endblock %}

